.section-end-main {
 background-color: #F0DA00;
 height: 100px;
 justify-content: center;
 display: flex;
 align-items: center;
}

.section-end svg {
 position: relative;
 z-index: -1;
 transform: translateY(50px);
}

.section-end-main span {
 font-weight: bold;
 font-size: 4rem;
}

@media screen and (max-width:1100px) {
 .section-end-main span {
  font-size: 2rem;
 }

 .section-end svg {
  transform: translateY(20px);
 }
}

@media screen and (max-width:681px) {
 .section-end-main span {
  font-size: 1rem;
 }
}